<br />
<br />
<h1>
<a href="/api/user">Click Here To Get Started</a>
</h1>
<div>
    The hierarchy of the model to play with is;
    <ul style="font-size:85%;margin-top:20px;">
        <li>
            User
            <ul>
                <li>Id</li>
                <li>Level</li>
                <li>FirstName</li>
                <li>LastName</li>
                <li>UserName</li>
                <li>LastLogin</li>
                <li>Token</li>
                <li>
                    Accounts
                    <ul>
                        <li>Id</li>
                        <li>Type</li>
                        <li>Balance</li>
                        <li>CreateDate</li>
                        <li>AccountNumber</li>
                        <li>UserId</li>
                        <li>User</li>
                        <li>
                            Transfers
                            <ul>
                                <li>Id</li>
                                <li>ToAccountNumber</li>
                                <li>TransferDate</li>
                                <li>Amount</li>
                                <li>IsSuccess</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>


</div>

